@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@import 'base/variables';
@import 'base/mixins';
@import 'base/animated';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}

ul {
    list-style-type: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.title {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    &_black {
        color:#393939;
    }
}

.btn {
    width: 240px;
    height: 60px;
    color: #Fff;
    border: none;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
    background: #00c2f0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
    &:hover {
        background: #00c0f0dc;
    }
}

.fade {
    animation-name: fade;
    animation-duration: .8s;
}

@import 'blocks/country';
@import 'blocks/promo';
@import 'blocks/reasons';
@import 'blocks/answer';
@import 'blocks/benefits';
@import 'blocks/variable';
@import 'blocks/start';
@import 'blocks/footer';
@import 'blocks/dropdown';
@import 'blocks/media'